.image-picker {
  display: flex;
  align-items: center;

  justify-content: center;
  background-color: #f0f0f0;
  border: 2px dotted #9e9e9e;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden; // ensures image doesn't spill outside
}

.picker-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #757575;
}

.placeholder {
  font-size: 48px;
  margin-bottom: 8px;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover; // makes image fill the box
}
