.btn {
  border-radius: 1rem;
}

nav {
  display: flex;
  gap: 8px;
}
.drawer-container {
  width: auto;
  height: 100dvh;
  background: #eee;
  mat-drawer {
    padding: 1rem;
    width: 300px;
    height: 100%;
  }
}

.actions {
  display: flex;
  gap: 8px;
  padding-top: 1rem;
}

.heading {
  font-size: xx-large;
  text-align: center;
}
