.container {
  padding: 1rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.grid {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}
